@{
    ViewBag.Title = "Home Page";
}

<!-- hero start -->

<div class="hero">
    <div class="hero-slide">
        <div class="img overlay"
             style="background-image: url('../../Content/SiteLayout/images/hero_bg_3.jpg')"></div>
        <div class="img overlay"
             style="background-image: url('../../Content/SiteLayout/images/hero_bg_2.jpg')"></div>
        <div class="img overlay"
             style="background-image: url('../../Content/SiteLayout/images/hero_bg_1.jpg')"></div>
    </div>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center">
                <a href="#" class="hero-btn">GET STARTED!</a>
            </div>
        </div>
    </div>
</div>


<!-- hero end -->
<!-- iframe video start -->

<div class="responsive-video">
    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ"
            title="arcverda-youtube-video"
            frameborder="0"
            allow="fullscreen">
    </iframe>
</div>


<!-- iframe video end -->



<div class="project-stages-wrapper">
    <h2 class="project-stages-title">Proje Aşamaları</h2>

    <div class="project-stages">
        <div class="stage-box">
            <img src="~/Content/SiteLayout/images/ilkhali.jpeg" alt="Projenin İlk Hali">
            <h3>Projenin İlk Hali</h3>
        </div>
        <div class="stage-box">
            <img src="~/Content/SiteLayout/images/2d.jpeg" alt="2D Hali">
            <h3>2D Hali</h3>
        </div>
        <div class="stage-box">
            <img src="~/Content/SiteLayout/images/3d.jpeg" alt="3D Hali">
            <h3>3D Hali</h3>
        </div>
        <div class="stage-box">
            <img src="~/Content/SiteLayout/images/3d2.jpeg" alt="3D2 Hali">
            <h3>3D2 Hali</h3>
        </div>
    </div>
</div>




<div class="section section-4 bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-5">
                <h2 class="font-weight-bold heading text-primary mb-4">
                    Let's find home that's perfect for you
                </h2>
                <p class="text-black-50">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                    enim pariatur similique debitis vel nisi qui reprehenderit.
                </p>
            </div>
        </div>
        <div class="row justify-content-between mb-5">
            <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
                <div class="img-about dots">
                    <img src="../../Content/SiteLayout/images/hero_bg_1.jpg" alt="Image" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-home2"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">2M Properties</h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nostrum iste.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-person"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Top Rated Agents</h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nostrum iste.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-security"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Legit Properties</h3>
                        <p class="text-black-50">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nostrum iste.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="faq-section">
    <h2 class="faq-title">FREQUENTLY ASKED QUESTIONS</h2>

    <div class="faq-item">
        <button class="faq-question">
            What is Arcverda?
            <span class="faq-icon">+</span>
        </button>
        <div class="faq-answer">
            <p>Arcverda is an artificial intelligence-supported landscape and architectural design platform. It enables the creation of original design projects in seconds, in line with the parameters and short text commands (prompts) determined by the users. It digitalizes and simplifies the design processes with its fast, efficient and user-friendly interface.</p>
        </div>
    </div>

    <div class="faq-item">
        <button class="faq-question">
            How to Use Arcverda?
            <span class="faq-icon">+</span>
        </button>
        <div class="faq-answer">
            <p>
                To start using Arcverda, you must first register on the platform. After the registration process, you can upload data via the user interface and review the suggested designs created by artificial intelligence.
            </p>
        </div>
    </div>
    <div class="faq-item">
        <button class="faq-question">
            Is There a Free Trial for First Use?
            <span class="faq-icon">+</span>
        </button>
        <div class="faq-answer">
            <p>Yes, Arcverda offers 3 free design rights to new users to explore the platform. With this trial period, you can experience AI-powered design without paying any fee.</p>
        </div>
    </div>

    <div class="faq-item">
        <button class="faq-question">
            How can I subscribe to Arcverda?
            <span class="faq-icon">+</span>
        </button>
        <div class="faq-answer">
            <p>To subscribe to Arcverda’s services, you can visit our website registration page and purchase the plan of your choice.</p>
        </div>
    </div>



    <div class="faq-item">
        <button class="faq-question">
            Can I Use Arcverda on Mobile?
            <span class="faq-icon">+</span>
        </button>
        <div class="faq-answer">
            <p>Arcverda currently serves as a web-based platform. Thanks to its user-friendly interface, it can be accessed and used seamlessly via smartphones and tablets. In the future, local mobile application support will also be offered to increase user experience.</p>
        </div>
    </div>
</div>
<script>
    const faqItems = document.querySelectorAll('.faq-item');

    faqItems.forEach(item => {
        const question = item.querySelector('.faq-question');
        const icon = item.querySelector('.faq-icon');

        question.addEventListener('click', () => {
            item.classList.toggle('active');

            // Sembolü değiştir
            if (item.classList.contains('active')) {
                icon.textContent = '-';
            } else {
                icon.textContent = '+';
            }
        });
    });
</script>



